*{
    margin: 0;
}
.background-1 {
background-color: #510F00;
color: white;
cursor:crosshair;
}
.background-2 {
background-color: #001549;
color: white;
cursor:crosshair;

}
p {
    font-family: 'Noto Serif', serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom:20px;
}
header {
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size:4em;
    background-image: url(images/emu-background.png);
    color:wheat;
    background-size: cover;
    
}
nav {
    font-family: 'Bakbak One', cursive;
    background-color:black;
    padding: .5vh;
}
nav a{
    text-decoration: none;
    color: whitesmoke; 
}
nav a:hover {
    color:rgb(0, 23, 199);
    font-size: 120%;
    cursor: cell;
}
h2 {
    font-family: 'Bakbak One', cursive;
    text-align: center;
    color:wheat;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    font-family: 'Bakbak One', cursive;
    font-size:1em;
    background-image: url(images/emu-background.png);
    color:wheat;
    padding: 2vh;
    background-size: cover;

}
.navFlex {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  img {
    max-height: 300px;
    min-height: 300px;
    margin-bottom: 40px;
    
  }
  .imgC {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

.imgFlex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  
}
@media screen and (max-width: 600px) {
    .fun-font {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 600px) {
    p {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 700px) {
    nav {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 600px) {
    nav {
      font-size: 30px;
    }
  }
.black {
    background-color: black;
    padding:2vh;
}
.pink {
    background-color: pink;
    padding: 2vh;
    color: black;
}
.title-color {
    color:rgb(194, 157, 88);
}
h3 {
  text-align: center;
  text-decoration: underline;
}
.center {
  text-align: center;
}
.image {
  float: left;
  height: 75px;
  width: 235px;
  font-family: Veranda;
}
.heading {
  float:right;
}