h1 {
    color: red;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 400%;
    
}
h2{
    color: red;
    font-family: 'Cinzel', serif;
    text-align: center;
}

html {
    background-image: url(https://i.pinimg.com/originals/b4/71/d6/b471d641c2fb84308dfb016cbf4ac6bb.gif);

}
footer {
    color: red;
}
.deathstar {
    position: fixed;
    top: 10px;
    right: 10px;
    
}
.hurting {
    position:fixed;
    top: 400px;
    left: 100px;
    right:10px;

}
.galactica {
    position:fixed;
    top: 100 px;
    right:100px;
    left: 700px;
}
.fury {
    position:fixed;
    top:
    left:
    right:10px;
}









}
.exit-absolute {
    position: absolute;
    top: 100px;
    left: 0;
  
  
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  
}
.point {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
p {
    color:white;
}