body {
    text-align: center;
    background-color: cornflowerblue;
}
nav a{
    margin: 1rem;
    color: rgb(11, 2, 94);
    line-height: 2em;
}
nav a:hover{
    color: rgb(78, 255, 166);
}
img{
    margin: 0 auto;
}