body {
    display: flex;
    justify-content: center;
    background-color: rgb(88, 27, 27);
}
.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation: ball-bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes ball-bounce{
    from {transform: translate3d(0,600px,0);}
    to{transform: translate3d(0,100px,0);}
}
.ball2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation: ball-bounce2 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes ball-bounce2{
    from {transform: translate3d(0,100px,0);}
    to{transform: translate3d(0,600px,0);}